<div class="page-wrapper d-flex flex-column justify-content-between">
  <div class="content flex-fill">
    <div
      class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3"
    >
      <div class="my-auto mb-2">
        <h2 class="mb-1">Donor Management</h2>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href><i class="ti ti-smart-home"></i></a>
            </li>
            <li
              class="breadcrumb-item active"
              aria-current="page"
              routerLink="/app/donors"
            >
              Donors
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Create Donor
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center align-content-center mt-3">
      <div class="col-md-12">
        <div class="card shadow-lg">
          <div
            class="card-header bg-primary text-white d-flex align-items-center"
          >
            <i class="fas fa-plus me-2"></i>
            <h5 class="mb-0 text-white">Create Donor</h5>
          </div>
          <div class="card-body">
            <form class="row g-3" autocomplete="off">
              <div class="col-md-3">
                <label for="code" class="form-label"
                  >Code <span class="text-danger fw-bold">*</span></label
                >
                <input
                  type="text"
                  id="code"
                  name="code"
                  [(ngModel)]="donorCreateModel.code"
                  class="form-control"
                  placeholder="Enter donor code"
                  readonly
                />
              </div>
              <div class="col-md-3">
                <label for="name" class="form-label"
                  >Name <span class="text-danger fw-bold">*</span></label
                >
                <input
                  type="text"
                  id="name"
                  name="name"
                  [(ngModel)]="donorCreateModel.name"
                  class="form-control"
                  placeholder="Enter donor name"
                />
              </div>
              <div class="col-md-3">
                <label for="mobile" class="form-label"
                  >Mobile <span class="text-danger fw-bold">*</span></label
                >
                <input
                  type="text"
                  id="mobile"
                  name="mobile"
                  [(ngModel)]="donorCreateModel.mobileNo"
                  class="form-control"
                  placeholder="+8801710000000"
                />
              </div>
              <div class="col-md-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  [(ngModel)]="donorCreateModel.email"
                  class="form-control"
                  placeholder="example@gmail.com"
                />
              </div>
              <div class="col-md-6">
                <label for="address" class="form-label">Address</label>
                <textarea
                  id="address"
                  name="address"
                  [(ngModel)]="donorCreateModel.address"
                  class="form-control"
                  placeholder="Enter full address."
                ></textarea>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="col-12">
              <div class="modal-footer">
                <button
                  type="button"
                  routerLink="/app/donors"
                  class="btn btn-light me-2"
                >
                  <i class="ti ti-arrow-back-up me-1"></i>
                  Back
                </button>
                <button
                  type="button"
                  (click)="onClickCreateDonor()"
                  class="btn btn-primary"
                  *appCheckPermission="{ feature: 'Donor', action: 'Create' }"
                >
                  <i class="ti ti-device-floppy me-1"></i>
                  Create
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
