<div class="Page-wrapper" style="background-color: #fff6f2">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8 d-flex justify-content-center align-items-center">
      <div>
        <div class="error-images mb-4 text-center">
          <img src="assets/img/bg/access-denied.png" alt="image" class="img-fluid mt-5" />
        </div>
        <div class="text-center">
          <p class="fs-16 text-center">
            Oops! It looks like you don’t have the required permissions to view this page or perform
            this action.
            <br />
            If you believe this is a mistake, please contact your system administrator or support
            team.
          </p>
          <div class="d-flex justify-content-center pb-4" style="margin-bottom: 293px">
            <a routerLink="/app/dashboard" class="btn btn-primary d-flex align-items-center">
              <i class="ti ti-arrow-left me-2"></i>
              Back to Dashboard
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
