<div class="page-wrapper d-flex flex-column justify-content-between">
  <div class="content flex-fill">
    <!-- Breadcrumb -->
    <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
      <div class="my-auto mb-2">
        <h2 class="mb-1">Dashboard</h2>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="index.html">
                <i class="ti ti-smart-home me-1"></i>
                Reset Password Change
              </a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- /Breadcrumb -->

    <div class="row justify-content-center align-items-center mt-3">
      <div class="col-md-12">
        <div class="card shadow-lg mt-2">
          <div class="card-header">
            <h4>Filter Options</h4>
            <p class="badge badge-info mt-2">Apply Filters and Search to View List</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2 mb-2">
                <select #Company id="companyId" name="companyId" class="form-select">
                  <option *ngFor="let company of companies" [value]="company.id">
                    {{ company.name }}
                  </option>
                </select>
              </div>
              <div class="col-2 mb-2">
                <select
                  #department
                  id="departmetId"
                  name="departmetId"
                  class="form-select"
                  multiple>
                  <option *ngFor="let department of filterDepartments" [value]="department.id">
                    {{ department.name }}
                  </option>
                </select>
              </div>
              <div class="col-1 mt-1 mb-1">
                <a class="btn btn-primary d-flex align-items-center" (click)="onClickSearch()">
                  <i class="ti ti-search me-2"></i>
                  Search
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2 class="mb-3">Trigger Force Reset Password</h2>
        <div>
          <input
            type="checkbox"
            class="form-check-input"
            [checked]="allSelected"
            (change)="toggleSelectAll($event)" />
          <label class="fw-bold fw-25 ms-2">Select All</label>
        </div>
      </div>
      <div class="card-body reset-password-container">
        <!-- Search Box -->
        <div class="mb-3 d-flex align-items-center justify-content-between">
          <input
            type="text"
            class="form-control me-2"
            placeholder="Search by name or email"
            [(ngModel)]="searchText"
            (input)="filterUsers()" />
        </div>

        <ng-container *ngIf="filteredUsers.length > 0; else noDataTemplate">
          <!-- User List -->
          <div class="user-list">
            <div class="user-card" *ngFor="let user of filteredUsers">
              <label class="user-label">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [value]="user.email"
                  [checked]="selectedEmails.includes(user.email)"
                  (change)="toggleEmail(user.email, $event)" />
                <span class="user-info">
                  <strong>{{ user.fullName }}</strong>
                  - {{ user.email }}
                </span>
              </label>
            </div>
          </div>
        </ng-container>

        <!-- Submit Button -->
        <button
          class="btn btn-primary mt-3"
          (click)="submitEmails()"
          [disabled]="selectedEmails.length === 0">
          Submit
        </button>
      </div>
    </div>
  </div>
  <div></div>
</div>

<ng-template #noDataTemplate>
  <div class="alert alert-secondary text-center">There is no user to show</div>
</ng-template>
