<div class="page-wrapper d-flex flex-column justify-content-between">
  <div class="content flex-fill">
    <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
      <div class="my-auto mb-2">
        <h2 class="mb-1">Administration</h2>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href><i class="ti ti-smart-home"></i></a>
            </li>
            <li class="breadcrumb-item"><a>Access Control</a></li>            
            <li class="breadcrumb-item"><a>Action Control</a></li>
            <li class="breadcrumb-item"><a routerLink="/app/feature-action-mapping/create">Feature Action Mapping</a></li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center align-content-center mt-3">
        <div class="col-md-12">
          <div class="card shadow-lg">
            <div class="card-header bg-primary text-white d-flex align-items-center">
              <i class="fas fa-cogs me-2"></i>
              <h5 class="mb-0 text-white">Update Feature Action Mapping</h5>
            </div>
            <div class="card-body">
              <form class="row g-3" autocomplete="off">
                <div class="col-md-4">
                  <label for="featureId" class="form-label">Feature</label>
                  <select #createFeatureId class="form-select" id="featureId" name="featureId"
                    [(ngModel)]="featureActionMappingCreateModel.featureId" (ngModelChange)="onChangeFeature($event)">
                    <option [value]="-1" selected>Choose...</option>
                    <option *ngFor="let feature of features" [value]="feature.id">
                      {{ feature.name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4">
                  <div class="card shadow-sm mt-2">
                    <div class="card-body">
                      <table id="activityTable" class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Activity List</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (item of actions; track $index) {
                          <tr>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="id" name="id"
                                  [checked]="item.isDefault == true" (click)="onClickAddAction($event, item.id)" />
                                <label class="form-check-label" for="isRequiresApproval">
                                  {{ item.name }}
                                </label>
                              </div>
                            </td>
                          </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="col-12">
                <div class="modal-footer">
                  <button type="button" routerLink="/app/actions" class="btn btn-light me-2">
                    <i class="ti ti-arrow-back-up me-1"></i>
                    Back
                  </button>
                  <button type="button" (click)="onClickCreateFeatureActionMapping()" class="btn btn-primary">
                    <i class="ti ti-device-floppy me-1"></i>
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>