<div class="page-wrapper vh-100 d-flex flex-column justify-content-between">
  <div class="content flex-fill h-100">
    <!-- Breadcrumb -->
    <div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
      <div class="my-auto mb-2">
        <h2 class="mb-1">Administration</h2>
        <nav>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href><i class="ti ti-smart-home"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Configurations</li>
            <li class="breadcrumb-item active" aria-current="page" routerLink="/app/modules">Module List</li>
            <li class="breadcrumb-item active" aria-current="page">Update Module</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- /Breadcrumb -->

    <div class="row justify-content-center align-content-center mt-3">
      <div class="col-md-12">
        <div class="card shadow-lg">
          <div class="card-header bg-primary text-white d-flex align-items-center">
            <i class="fas fa-cogs me-2"></i>
            <h5 class="mb-0 text-white">Update Module</h5>
          </div>
          <div class="card-body">
            <form class="row g-3" autocomplete="off">
              <div class="col-md-4">
                <label for="code" class="form-label">
                  Code
                  <span class="text-danger fw-bold">*</span>
                </label>
                <input
                  type="text"
                  id="code"
                  name="code"
                  [(ngModel)]="moduleUpdateModel.code"
                  placeholder="Enter module code"
                  class="form-control" />
              </div>
              <div class="col-md-4">
                <label for="name" class="form-label">
                  Name
                  <span class="text-danger fw-bold">*</span>
                </label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  [(ngModel)]="moduleUpdateModel.name"
                  placeholder="Enter module name"
                  class="form-control" />
              </div>
              <div class="col-md-4">
                <label for="statusId" class="form-label">
                  Status
                  <span class="text-danger fw-bold">*</span>
                </label>
                <select
                  id="statusId"
                  name="statusId"
                  [(ngModel)]="moduleUpdateModel.statusId"
                  class="form-select">
                  <option [value]="-1" selected>Choose...</option>
                  <option *ngFor="let status of statuses" [value]="status.id">
                    {{ status.name }}
                  </option>
                </select>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="col-12">
              <div class="modal-footer">
                <button type="button" routerLink="/app/modules" class="btn btn-light me-2">
                  <i class="ti ti-arrow-back-up me-1"></i>
                  Back
                </button>
                <button
                  type="button"
                  (click)="onClickUpdateModule()"
                  class="btn btn-primary"
                  *appCheckPermission="{ feature: 'Module', action: 'Update' }">
                  <i class="ti ti-device-floppy me-1"></i>
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
  [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
